header ul #about a{
    color: rgb(240, 45, 45)
}

main {
    padding-top:120px;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

main h2{
    text-align: left;
}

main article{
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

main article .citation{
    margin: 20px;
    text-align: center;
    line-height: 1.3rem;
}

main img{
    width: 60%;
    margin:20px;
}