#home a{
    color: #e03630;
}

main {
    position: relative;
    z-index: -1;
}

main img {
    width: 100%;
}

section img {
    display: none;
}

main h2{
    padding:1.5rem;
}

main p {
    width: 100%;
    padding: 0 1.5rem 0.1rem;
}

article ol {
    margin-top:1.5rem;
}

article .music-titles{
    margin: 1rem 0 0 2.5rem;
}

article .music-titles a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #f5aa1f;
}

main article .music-titles a:hover{
    color:#e03630;
}
 
@media (min-width:1024px){
    main{
        top:20vh;
    }
}







